<div>
  <div class="error-message" [hidden]="hasMemoryData">
    There is no memory profile to display because there were no memory activity data in the captured
    duration.
  </div>
  <div [hidden]="!hasMemoryData">
    <div class="container">
      <div class="left-column">
        <memory-profile-summary [data]="data" [memoryId]="selectedMemoryId">
          <div class="item-container">
            <table>
              <tr>
                <td>
                  <b>Memory ID</b>
                  <div class="description">show memory profile for selected device</div>
                </td>
                <td class="item-value">
                  <mat-form-field>
                    <mat-select [(value)]="selectedMemoryId">
                      <mat-option *ngFor="let id of memoryIds" [value]="id">
                        {{ id }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </memory-profile-summary>
      </div>

      <div class="right-column">
        <memory-timeline-graph
          [memoryProfileProtoOrNull]="data"
          [memoryId]="selectedMemoryId"
        ></memory-timeline-graph>
      </div>
      <div class="full-column">
        <memory-breakdown-table [memoryProfileData]="data" [memoryId]="selectedMemoryId">
        </memory-breakdown-table>
      </div>
    </div>
  </div>
</div>
