/** CSS for a memory timeline graph view component. */

@import 'frontend/app/styles/common';

:host {
  @include border-bottom-gray;
  @include border-right-gray;
  flex-grow: 1;
}

mat-card {
  @include overview-card;
  @include overview-card-height;
}

mat-card-title {
  @include overview-card-title;
}

.chart {
  margin: 0 auto;
  max-width: 1500px;
}
