/** CSS for a stats table component. */

@import 'frontend/app/styles/common';

:host {
  display: block;
  padding: 20px;
}

mat-form-field {
  margin: 0 8px;
}

mat-icon {
  color: $button-focus-color;
  vertical-align: bottom;
}

.table {
  border: 1px solid $border-color;
}
