<div class="section-container">
  <div class="row">
    <div>
      <div class="mat-headline">GPU Kernel Stats</div>
    </div>
    <div class="flex-space"></div>
    <div class="save-button" (click)="exportDataAsCSV()">
      <mat-icon>save_alt</mat-icon>
      <div class="mat-title">Export as CSV</div>
    </div>
  </div>

  <div [className]="hasDataRow ? 'full-height' : 'hidden-content'">
    <br>

    <kernel-stats-chart [kernelStatsData]="data"></kernel-stats-chart>
  </div>
</div>

<div [className]="hasDataRow ? 'full-height' : 'hidden-content'">
  <mat-divider></mat-divider>

  <kernel-stats-table [kernelStatsData]="data"></kernel-stats-table>
</div>

<div class="section-container" [hidden]="hasDataRow">
  There is no GPU data to display because there were no kernels in the capture duration.
</div>
