/** CSS for a side navigation component. */

@import 'frontend/app/styles/common';

.button-container {
  padding: 20px;
}

.item-container {
  padding: 20px 20px 0 20px;
}

.mat-subheading-2 {
  margin-bottom: 0;
}
