<div class="button-container horizontal-center">
  <capture-profile></capture-profile>
</div>

<div class="item-container">
  <div [ngClass]="{'mat-subheading-2': true, 'disabled': !runs.length}">
    Runs ({{runs.length}})
  </div>

  <mat-form-field class="full-width">
    <mat-select panelClass="panel-override" [(value)]="selectedRun" [disabled]="!runs.length" (selectionChange)="updateTags()">
      <mat-option *ngFor="let run of runs" [value]="run">
        {{run}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="item-container">
  <div [ngClass]="{'mat-subheading-2': true, 'disabled': !tags.length}">
    Tools ({{tags.length}})
  </div>

  <mat-form-field class="full-width">
    <mat-select panelClass="panel-override" [(value)]="selectedTag" [disabled]="!tags.length" (selectionChange)="updateHosts()">
      <mat-option *ngFor="let tag of tags" [value]="tag">
        {{getDisplayTagName(tag)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="item-container">
  <div [ngClass]="{'mat-subheading-2': true, 'disabled': !hosts.length}">
    Hosts ({{hosts.length}})
  </div>

  <mat-form-field class="full-width">
    <mat-select panelClass="panel-override" [(value)]="selectedHost" [disabled]="!hosts.length" (selectionChange)="emitUpdateEvent()">
      <mat-option *ngFor="let host of hosts" [value]="host">
        {{host}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div [hidden]="selectedTag != 'memory_viewer'">
  <buffer-details></buffer-details>
</div>

<div [hidden]="selectedTag != 'op_profile'">
  <op-details></op-details>
</div>

<div [hidden]="selectedTag != 'pod_viewer'">
  <pod-viewer-details></pod-viewer-details>
</div>

<br>

