.goog-tooltip {
    display: none !important;
}

.visualization-tooltip {
    padding: 4px 10px;
    white-space: nowrap;
}

div.google-visualization-tooltip {
    pointer-events: none;
    max-width: 90%;
}
