name: Linux CPU build and test non-docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pr-test:
    strategy:
      matrix:
        python-version:
          - "3.12"
        runner: ["linux.12xlarge"]
        gpu-arch-type: ["cpu"]
      fail-fast: true
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    permissions:
      id-token: write
      contents: read
    with:
      repository: pytorch/kineto
      runner: ${{ matrix.runner }}
      gpu-arch-type: ${{ matrix.gpu-arch-type }}
      timeout: 120
      test-infra-ref: main
      script: |
        set -euo pipefail
        mkdir kineto/build_static
        mkdir kineto/build_shared
        pip install cmake

        # Note that we are making these CPU-only builds through cmake flags.
        pushd kineto/build_static
        cmake -DLIBKINETO_NOCUPTI=1 -DKINETO_LIBRARY_TYPE=static ../libkineto/
        make -j
        popd

        pushd kineto/build_shared
        cmake -DLIBKINETO_NOCUPTI=1 -DKINETO_LIBRARY_TYPE=shared ../libkineto/
        make -j
        popd

        pushd kineto/build_static
        make test
        popd

        git clone --recursive --branch viable/strict https://github.com/pytorch/pytorch.git

        pushd pytorch
        rm -rf third_party/kineto
        ln -s ../kineto third_party/kineto

        # Note that we are explicitly turning off all GPU support.
        pip install -r requirements.txt
        export USE_CUDA=0
        export USE_CUDNN=0
        export USE_NCCL=0
        export USE_ROCM=0
        export BUILD_TEST=1
        export MAX_JOBS=4
        python setup.py develop

        # TODO: Dynamically add/remove tests to the exclusion list based on their
        # status on trunk instead of maintaining a hardcoded list of known failures.
        # This will prevent the list from becoming stale as tests get fixed upstream.
        python -m pytest test/profiler/ -v \
          --deselect=test/profiler/test_memory_profiler.py::TestDataFlow::test_data_flow_graph_complicated \
          --deselect=test/profiler/test_memory_profiler.py::TestMemoryProfilerE2E::test_categories_e2e_sequential_fwd_bwd \
          --deselect=test/profiler/test_memory_profiler.py::TestMemoryProfilerE2E::test_categories_e2e_simple_fwd_bwd \
          --deselect=test/profiler/test_memory_profiler.py::TestMemoryProfilerE2E::test_categories_e2e_simple_fwd_bwd_step \
          --deselect=test/profiler/test_profiler.py::TestProfiler::test_kineto \
          --deselect=test/profiler/test_profiler.py::TestProfiler::test_user_annotation \
          --deselect=test/profiler/test_profiler.py::TestExperimentalUtils::test_fuzz_symbolize \
          --deselect=test/profiler/test_profiler.py::TestExperimentalUtils::test_profiler_debug_autotuner \
          --deselect=test/profiler/test_torch_tidy.py::TestTorchTidyProfiler::test_tensorimpl_invalidation_scalar_args
        popd

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true
