name: Linux ROCm build and test

on:
  push:
    tags:
      - ciflow/rocm/*
    branches:
      - main

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  pr-test:
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      job-name: linux-rocm-build-and-test
      runner: linux.rocm.gpu.gfx942.1
      timeout: 180
      # Checkout the Kineto repo at the PR ref with submodules
      repository: ${{ github.repository }}
      ref: ${{ github.ref }}
      submodules: recursive
      gpu-arch-type: rocm
      gpu-arch-version: "7.2"
      script: |
        set -eux
        .github/scripts/setup.sh
        .github/scripts/kineto_build_test.sh rocm
        .github/scripts/pytorch_build_test.sh rocm
